html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.body {
  height: 90%;
  margin: 0;
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  clear: both;
  height: 10%;
  margin: 0;
  background: #373737;
  border-bottom: 3px solid #7beced;
}
.header .logo {
  height: 100%;
  width: auto;
  float: left;
  margin-left: 2%;
}
.logo-text {
  margin-top: 10%;
  margin-bottom: 10%;
}
.logo-text a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #7beced;

  text-decoration: none;
}

.impressive-message {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.impressive-message button {
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 9rem;
  height: 2.5rem;
}

.impressive-message button:hover {
  background-color: #373737;
  color: #7beced;
}

nav {
  float: right;
  height: 100%;
}
ul {
  margin: 0;
  height: 100%;
}
ul li {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 30%;
  padding-top: 30%;
}

ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #7beced;
}
.dashboard {
  background-color: #373737;
  height: 89.5%;
}

.dashboard-area {
  margin-left: 2rem;
}

.dashboard-area button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #f3bb72;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-area .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-area button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device {
  margin-left: 2rem;
}

.dashboard-device button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #ff85a7;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-device button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor {
  margin-left: 2rem;
}

.dashboard-sensor button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-sensor button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.device-view {
  height: 100%;
}

.device-view-content {
  height: 100%;
  padding: 20px;
  background-color: #373737;
}

.row1 {
  width: 100%;
  display: block;
  overflow: auto;
  margin-bottom: 20px;
}

.bedroom-light {
  color: #7beced;
  float: left;
  font-size: x-large;
}

.edit {
  color: #7beced;
  float: right;
  font-size: x-large;
  text-decoration: none;
}

.device-panel-container{
  width:100%;
}

.device-content {
  background-color: #ff85a7;
  padding: 10px;
  text-align: center;
  height: 80%;
}

.device-status-container {
  background-color: white;
  margin: auto;
  border: 1px solid black;
  margin-top: 2px;
  width: 150px;
  height: 70px;
  text-align: center;
}

.device-status-title {
  width: 100%;
  font-size: x-large;
}

.device-status {
  width: 100%;
  font-size: xx-large;
  font-weight: bold;
}

.device-toggle {
  margin: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: #ff85a7;
}

.device-history-title {
  font-size: x-large;
}

.device-history-content {
  margin: auto;
  margin-top: 10px;
  background-color: white;
  width: 90%;
  height:400px;
  font-size: x-large;
  overflow: auto;
}

.device-history-content > ul {
  padding: 0;
}

.device-history-content > ul > li {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.add-device-schedule {
  background-color: #373737;
  width: 200px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 18px;
}

.sensor-view {
  height: 100%;
}

.sensor-view-content {
  height: 100%;
  padding: 20px;
  background-color: #373737;
}

.sensor-content {
  background-color: #f3bb72;
  padding: 20px;
  text-align: center;
  height: 80%;
}

.sensor-row {
  height: 90%;
}

.sensor-row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}

.dashboard .areaview .sensor-box .newest {
  font-size: 1.5rem;
  background-color: white;
  color: #373737;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.dashboard .areaview .sensor-box .history {
  font-size: 2rem;
}

.sensor-column {
  float: left;
  height: 300px;
  text-align: center;
}

.sensor-column-1 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.sensor-column-2 {
  width: 60%;
  height: 100%;
  flex-flow: column;
  display: flex;
}

.sensor-column-3 {
  width: 25%;
  height: 100%;
  flex-flow: column;
  display: flex;
}

.newest-readings {
  width: 80%;

  background-color: white;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

.newest-readings-title {
  font-size: large;
}

.newest-readings-content {
  font-size: x-large;
  font-weight: bold;
}

.newest-readings-date {
  font-weight: bold;
}

.sensor-history-title {
  font-size: x-large;
}

.sensor-history-content {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 50%;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  flex-grow: 1;
  overflow: auto;
}

.sensor-history-content > ul {
  padding: 0;
}

.sensor-history-content > ul > li {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.sensor-history-item-date {
  font-style: italic;
  font-size: large;
}

.sensor-history-item-reading {
  font-size: x-large;
}

.sensor-graph {
  background-color: white;
  margin: auto;
  width: 90%;
  border: 1px solid black;
  flex-grow: 1;
}

.sensor-trigger-title {
  font-size: xx-large;
}

.sensor-trigger-content {
  width: 85%;
  margin-top: 20px;
  background-color: white;
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

.sensor-trigger-content > ul {
  padding: 0;
}

.sensor-trigger-item {
  width: 100%;
  text-align: left;
  float: left;
  font-size: xx-large;
  padding: 0;
  margin-top: 25px;
}

.add-sensor-trigger {
  background-color: #373737;
  width: 200px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  border-radius: 18px;
}

.dashboard .areaview {
  padding-top: 1rem;
  padding-left: 2rem;
  overflow-x: auto;
  white-space: nowrap;
  height: 90%;
}

.dashboard .areaview .title {
  font-size: 2.5rem;
  color: #7beced;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.dashboard .areaview .sensor-box {
  display: inline-block;
  vertical-align:top;
  margin-right: 1.5rem;
  width: 18rem;
  height: 90%;
  background-color: #f3bb72;
}

.dashboard .areaview .device-box {
  display: inline-block;
  vertical-align:top;
  margin-right: 1.5rem;
  width: 18rem;
  height: 90%;
  background-color: #ff85a7;
}

.dashboard .areaview .sensor-box .title {
  font-size: 2.5rem;
  color: #373737;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.dashboard .areaview .sensor-box .newest {
  font-size: 1.5rem;
  background-color: white;
  color: #373737;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.dashboard .areaview .sensor-box .history {
  font-size: 2rem;
  background-color: white;
  color: #373737;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top:40px;
  height: 250px;
  overflow: auto;
}

.dashboard .areaview .device-box .title {
  text-align: center;
  font-size: 2.5rem;
  color: #373737;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.dashboard .areaview .device-box .device-content .device-history-content{
  height: 50%;
  width:100%;
}

.dashboard .areaview .device-box .device-content .device-history-content .device-history-item{
  width: 100%;
  display:block;
}