html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.body {
  height: 90%;
  margin: 0;
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  clear: both;
  height: 10%;
  margin: 0;
  background: #373737;
  border-bottom: 3px solid #7beced;
}
.header .logo {
  height: 100%;
  width: auto;
  float: left;
  margin-left: 2%;
}
.logo-text {
  margin-top: 10%;
  margin-bottom: 10%;
}
.logo-text a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #7beced;

  text-decoration: none;
}

.impressive-message {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.impressive-message button {
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 9rem;
  height: 2.5rem;
}

.impressive-message button:hover {
  background-color: #373737;
  color: #7beced;
}

nav {
  float: right;
  height: 100%;
}
ul {
  margin: 0;
  height: 100%;
}
ul li {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 30%;
  padding-top: 30%;
}

ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #7beced;
}
.dashboard {
  background-color: #373737;
  height: 89.5%;
}

.dashboard-area {
  margin-left: 2rem;
}

.dashboard-area button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #f3bb72;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-area .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-area button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device {
  margin-left: 2rem;
}

.dashboard-device button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #ff85a7;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-device button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor {
  margin-left: 2rem;
}

.dashboard-sensor button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-sensor button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard .areaview {
  padding-top: 1rem;
  padding-left: 2rem;
}

.dashboard .areaview .title {
  font-size: 2.5rem;
  color: #7beced;
  padding-top: 2rem;
}

.dashboard .areaview .sensor-box {
  width: 18rem;
  height: 30rem;
  background-color: #f3bb72;
}
