html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.body {
  height: 90%;
  margin: 0;
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  clear: both;
  height: 10%;
  margin: 0;
  background: #373737;
  border-bottom: 3px solid #7beced;
}
.header .logo {
  height: 100%;
  width: auto;
  float: left;
  margin-left: 2%;
}
.logo-text {
  margin-top: 10%;
  margin-bottom: 10%;
}
.logo-text a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #7beced;

  text-decoration: none;
}

.impressive-message {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.impressive-message button {
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 9rem;
  height: 2.5rem;
}

.impressive-message button:hover {
  background-color: #373737;
  color: #7beced;
}

nav {
  float: right;
  height: 100%;
}
ul {
  margin: 0;
  height: 100%;
}
ul li {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 30%;
  padding-top: 30%;
}

ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #7beced;
}
.dashboard {
  background-color: #373737;
  height: 89.5%;
}

.dashboard-area {
  margin-left: 2rem;
}

.dashboard-area button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #f3bb72;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-area .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-area button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device {
  margin-left: 2rem;
}

.dashboard-device button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #ff85a7;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-device .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-device button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor {
  margin-left: 2rem;
}

.dashboard-sensor button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.dashboard-sensor .title {
  padding-top: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #7beced;
}

.dashboard-sensor button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 15rem;
  height: 7rem;
}

.device-view{
  height: 100%;
}

.device-view-content{
  height: 100%;
  padding:20px;
  background-color: #373737;
}

.row1{
 width: 100%;
 display:block;
 overflow: auto;
 margin-bottom: 20px;
}

.bedroom-light{
  color: #7beced;
  float: left;
  font-size: x-large;
}

.edit{
  color: #7beced;
  float:right;
  font-size: x-large;
}

.device-content{
background-color: #FF85A7;
padding:20px;
text-align: center;
height: 80%;
}

.device-status-container{
  background-color: white;
  margin:auto;
  border: 1px solid black;
  margin-top: 2px;
  width:150px;
  height:70px;
  text-align:  center;
}

.device-status-title{
  width:100%;
  font-size: x-large;
}

.device-status{
  width:100%;
  font-size: xx-large;
  font-weight: bold;
}

.device-toggle{
  margin:20px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: #FF85A7;
}

.device-history-title{
  font-size: x-large;
}

.device-history-content{
  margin:auto;
  margin-top: 10px;
  background-color: white;
  width:500px;
  font-size: x-large;
  height: 400px;
  overflow: auto;
}

.device-history-content>ul{
  padding:0;
}

.device-history-content>ul>li{
  padding:0;
  margin-top:20px;
}

.add-device-schedule{
  background-color: #373737;
  width:200px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 18px;
}

